@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 14px;
  }
}

.monospace {
  font-family: var(--font-dm-mono), monospace;
}

body {
  font-family: var(--font-rubik), sans-serif;
  font-optical-sizing: auto;
  background-color: #000;
  color: #fff;
}
